

dt, dd {
  float: left;
}

dt {  
  clear: left;
  display: inline-block;
  width: 4em;
}

/* template style */

html {
  font-family: sans-serif;
  font-size: 100%;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 400px;
}

#info {
  background: #fafafa;
  border-radius: .5em;
  box-shadow: .2em .2em .4em #222;
  font-size: .8em;
  max-width: 66%;
  padding: .25em .5em;
  position: absolute;
  left: 1em;
  top: 1em;
}
